
# Sensitive properties files
*/eudaemon.properties
eudaemon.properties

# Target directores
build

# Project-specific directories
.gradle
.idea

# Gradle wrapper JAR
gradle/wrapper/gradle-wrapper.jar
